<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="jumbotron">
    <img src="/assets/leaf.png" width='100'>
    <div>&nbsp;</div>
    <nav>
        <a routerLink="/barovi">Statistika</a>
        |
        <a routerLink="/nudi">Pregled proizvoda</a>
        |
        <a routerLink="/stepper">Dodaj/Skini</a>
        |
        <a routerLink="/log">Log out</a>
        |
        <span *ngIf="navigacija==0">
            <input type="button" class="btn-success" value="Change password" (click)="promenisifru()">
        </span>
        <span *ngIf="navigacija==1">
            <input type="button" class="btn-success" value="Back" (click)="glavni()">
        </span>
    </nav>
</div>
<header align="center">
    #{{username}}
</header>
<br>
<div class="container">
    <span *ngIf="navigacija==0">
        <div class="container">
            <br>
            <br>
            <div>
                Sortiranje:
                <select [(ngModel)]="izabrano">
                    <option selected>Ne sortiraj</option>
                    <option>Rastuce</option>
                    <option>Opadajuce</option>
                </select>
                &nbsp;
                <input type="button" class="btn-secondary" value="Filter" (click)="filter()">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: large;">Trenutno ima <b>{{kuriri.length}}</b> slobodnih kurira!</span>
            </div>
            <table class="table">
                <thead align="center" style="background-color: rgb(5, 107, 107); color: white;">
                <th align="center">
                    Datum
                </th>
                <th align="center">
                    Naziv
                </th>
                <th align="center">
                    Vrsta
                </th>
                <th align="center">
                    Dani
                </th>
                <th align="center">
                    Broj porudzbine
                </th>
                <th align="center">
                    Prihvati porudzbinu
                </th>
                <th align="center">
                    Odbij porudzbinu
                </th>
                <th align="center">
                    Status
                </th>
            </thead>    
                <tbody>  
                <tr *ngFor="let x of proizvodi;let i=index" align="center">
                    <td align="center" *ngIf="x.cena==null || x.cena>=0">
                        {{x.datum}}
                    </td>
                    <td align="center" *ngIf="!(x.cena==null || x.cena>=0)" style="background-color: orange;">
                        {{x.datum}}
                    </td>
                    <td align="center" *ngIf="x.cena==null || x.cena>=0">
                        {{x.naziv}}
                    </td>
                    <td align="center" *ngIf="!(x.cena==null || x.cena>=0)" style="background-color: orange;">
                        {{x.naziv}}
                    </td>
                    <td align="center" *ngIf="(x.cena==null || x.cena>=0)">
                       <span *ngIf="x.vrsta=='s'">
                        Sadnica
                       </span> 
                       <span *ngIf="x.vrsta!='s'">
                        Preparat
                       </span> 
                    </td>
                    <td align="center" *ngIf="!(x.cena==null || x.cena>=0)" style="background-color: orange;">
                        <span *ngIf="x.vrsta=='s'">
                         Sadnica
                        </span> 
                        <span *ngIf="x.vrsta!='s'">
                         Preparat
                        </span> 
                     </td>
                    <td *ngIf="x.cena==null || x.cena>=0" align="center">
                        {{x.dani}}
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0)" align="center" style="background-color: orange;">
                        {{x.dani}}
                    </td>
                    <td *ngIf="x.cena==null || x.cena>=0" align="center">
                        {{x.ocena}}
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0)" align="center" style="background-color: orange;">
                        {{x.ocena}}
                    </td>
                    <td *ngIf="(x.cena==null || x.cena>=0) && dugmici==true" align="center">
                        <input type="button" class="btn-success" value="DA" (click)="potvrdi(i)">
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0) && dugmici==true" align="center" style="background-color: orange;">
                        <input type="button" class="btn-success" value="DA" (click)="potvrdi(i)">
                    </td>
                    <td *ngIf="(x.cena==null || x.cena>=0) && dugmici==true" align="center">
                        <input type="button" class="btn-danger" value="NE" (click)="ponisti(i)">
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0) && dugmici==true" align="center"  style="background-color: orange;">
                        <input type="button" class="btn-danger" value="NE" (click)="ponisti(i)">
                    </td>
                    <td *ngIf="(x.cena==null || x.cena>=0) && dugmici==true" align="center">
                        Nije odluceno
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0) && dugmici==true" align="center" style="background-color: orange;">
                        NA CEKANJU
                    </td>
                    <td *ngIf="(x.cena==null || x.cena>=0) && dugmici==false" align="center">
                        <input type="button"  value="DA" (click)="potvrdi(i)" disabled>
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0) && dugmici==false" align="center" style="background-color: orange;">
                        <input type="button"  value="DA" (click)="potvrdi(i)" disabled>
                    </td>
                    <td *ngIf="(x.cena==null || x.cena>=0) && dugmici==false" align="center">
                        <input type="button"  value="NE" (click)="ponisti(i)" disabled>
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0) && dugmici==false" align="center"  style="background-color: orange;">
                        <input type="button"  value="NE" (click)="ponisti(i)" disabled>
                    </td>
                    <td *ngIf="(x.cena==null || x.cena>=0) && dugmici==false" align="center">
                        Nije odluceno
                    </td>
                    <td *ngIf="!(x.cena==null || x.cena>=0) && dugmici==false" align="center" style="background-color: orange;">
                        NA CEKANJU
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
    </span>
    <span *ngIf="navigacija==1">
        <form>
            <table align="center">
                <tr>
                    <td>
                        Old password:
                    </td>
                    <td>
                        <input type="password" name="starasif" [(ngModel)]="starasif">
                    </td>
                </tr>
                <tr>
                    <td>
                        New password:
                    </td>
                    <td>
                        <input type="password" name="novasif" [(ngModel)]="novasif">
                    </td>
                </tr>
                <tr>
                    <td>
                        Repeat new password:
                    </td>
                    <td>
                        <input type="password" name="opetsif" [(ngModel)]="opetsif">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" value="Promeni" (click)="passchange()">
                    </td>
                </tr>
            </table>
        </form>
    </span>
</div>